<div class="mx-auto mt-5 col col-12 col-md-6 col-lg-4 col-xl-4">
    <table class="table table-bordered table-responsive">
        <thead class="text-center">

            <th>name</th>
            <th>price</th>
            <th>amount</th>
            <th>total</th>
            <th>info</th>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let x of carts; index as i">

                <td>{{x.name}}</td>
                <td>{{x.price}}</td>
                <td><input type="number" [(ngModel)]="x.amount"></td>
                <td>{{x.price * x.amount |currency}}</td>
                <td>
                    <button class="btn btn-primary" (click)="update(x.id,x.amount)">Save</button> |
                    <button class="btn btn-primary" (click)="delete(x.id)">Delete</button>
                </td>
            </tr>


        </tbody>
    </table>
    <div>
        <p>{{sum}}</p>

    </div>
</div>