@model Officer.Data.Job

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div id="errdiv" class="alert alert-danger" style="display:none;" >
                <i id="erri"></i>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="jobTitle" class="control-label"></label>
                <input asp-for="jobTitle" class="form-control" />
                <span asp-validation-for="jobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jobContent" class="control-label"></label>
                <input asp-for="jobContent" class="form-control" />
                <span asp-validation-for="jobContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jobImage" class="control-label"></label>
                <input type="file" id="formFile" name="formFile" class="form-control" multiple />
                <span asp-validation-for="jobImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="btn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(function () {

            $("#btn").click(function () {
                if ($("#formFile").val() == "")
                {
                    $("#errdiv").fadeIn();
                    $("#erri").append("رجاء اختيار صورة");
                    return false;
                }

                //if ($("#formFile").val()!="")
                else
                {
                    var filename = document.getElementById("formFile").value;//javaScript
                    //var file2 = $("#formFile").val(); jQuery
                    extenstionImg = filename.substr(filename.lastIndexOf(".") + 1);
                    var extesionArray = ['jpg', 'png', 'jpeg'];
                    if ($.inArray(extenstionImg, extesionArray)==-1)
                    {
                        $("#errdiv").fadeIn();
                        $("#erri").append(" jpg ,png رجاء اختيار صورة");
                        return false;
                    }

                    var myfileSize = document.getElementById("formFile").files[0].size / 1024 / 1024;
                    if (myfileSize > 2) {
                        $("#errdiv").fadeIn();
                        $("#erri").append("  2m  الصورة المرفقة حجمها يتجاوز");
                        return false;
                    }

                   
                  
                }
                  
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
