@model ProgLix.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProName" class="control-label"></label>
                <input asp-for="ProName" class="form-control" />
                <span asp-validation-for="ProName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unitPrice" class="control-label"></label>
                <input asp-for="unitPrice" class="form-control" />
                <span asp-validation-for="unitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="uploadFile" class="control-label"></label>
                <input type="file" asp-for="uploadFile" class="form-control-file" />
                <span asp-validation-for="uploadFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="companyselectId"></label>
                <select asp-for="companyselectId" asp-items="Model.companyselect" class="form-control"></select>
            </div>
            <div class=form-group>
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" 
                        asp-items="@(new SelectList(Model.Category.ToList(),"Cat_Id","Cat_Name"))"
                        class="form-control">

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
