<div>
    <a class="btn btn-primary" routerLink="/add-task">Add new Task</a>
</div>
<br>
<div *ngIf='tasks.length==0'>
    <p class="alert alert-primary "> task not found</p>
</div>

<div *ngIf='tasks.length !=0'>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let tsk of tasks; index as i">
            <a [routerLink]="['/task',i]">
                {{tsk.Title}} {{tsk.Descrption}}
            </a>
            <button class="btn btn-danger float-sm-end" (click)="deletetask(i)"> Delete</button>
        </li>
    </ul>
</div>