@page "/demohotel"
@using Model

<h3>We will display hotel rooms here!</h3>

<div class="border p-2 mt-2" style="background-color:azure">

    <h2 class="text-info">RoomsList</h2>

    <div class="row container">
        <div class="col-12">
            <h4 class="text-info">Hotel Rooms</h4>
        </div>

        @foreach (var room in RoomsList)
        {
            <IndividualRoom Room="room"></IndividualRoom>

        }
        <div class="col-12 mt-3">
            <h4 class="text-info">Hotel Amenities</h4>
        </div>
        @foreach (var amenity in AmenitiesList)
        {
            <IndividualAmenity Amenity="amenity"></IndividualAmenity>
        }

    </div>
</div>


@code{

    List<Room> RoomsList = new List<Room>();
    List<Amenity> AmenitiesList = new List<Amenity>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RoomsList.Add(new Room()
        {
            Id = 101,
            RoomName = "king Suite",
            IsActive = true,
            Price = 1200,
            RoomProps = new List<RoomProp>()
{
                new RoomProp()
                {
                    Id=1,
                    Name="Area",
                    Value="300"
                },
                 new RoomProp()
                {
                    Id=2,
                    Name="Occupancy",
                    Value="1"
                }
            }
        });
        RoomsList.Add(new Room()
        {

            Id = 201,
            RoomName = "Single Room",
            IsActive = true,
            Price = 300,
            RoomProps = new List<RoomProp>()
{
                new RoomProp()
                {
                    Id=1,
                    Name="Area",
                    Value="30"
                },
                new RoomProp()
                {
                    Id=2,
                    Name="Occupancy",
                    Value="1"
                },
            }
        });
        AmenitiesList.Add(new Amenity
        {
            Id = 111,
            AmenityName = "Gym",
            AmenityInfo = "24x7 gmy room is available"
        });
        AmenitiesList.Add(new Amenity
        {
            Id = 222,
            AmenityName = "Swimming Pool",
            AmenityInfo = "Pool room is open from 6am to 10pm"
        });
        AmenitiesList.Add(new Amenity
        {
            Id = 333,
            AmenityName = "Free Breakfast",
            AmenityInfo = "Enjoy free breakfast at out hotel"
        });


    }
}
