<form #f="ngForm" (ngSubmit)="OnSignup(f)">
    <div class="container-fluid">
        <div class="card mx-auto col-sm-12 col-md-5 col-lg-5 col-xl-4" style="padding-top: 0;">
            <div class="card-header">
                <h4 class="text-center">Template Driven Form</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" #_name="ngModel" class="form-control" name="name" ngModel id="name" required>
                    <p style="color:red;" *ngIf="_name.invalid  && _name.touched"> رجاء ادخال
                        الاسم</p>
                </div>
                <br>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" #_email="ngModel" class="form-control" name="email" id="email" ngModel email
                        required>
                    <p style="color:red;" *ngIf="_email.errors?.required  && _email.touched"> الايميل مطلوب*</p>
                    <p style="color:red;" *ngIf="_email.errors?.email  && _email.touched"> الايميل خطاء*</p>
                    <p style="color:red;" *ngIf="erroremail &&_email.touched && _email.valid "> الايميل مستخدم*</p>
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" #_password="ngModel" class="form-control" name="password" ngModel
                        id="password" required minlength="6">
                    <p style="color:red;" *ngIf="_password.errors?.required  && _password.touched"> رجاء ادخال الباسورد*
                    </p>
                    <p style="color:red;" *ngIf="_password.errors?.minlength  && _password.touched">
                        {{_password.errors?.minlength.requiredLength}} يجب ان يكون اكثر من *</p>
                </div>
                <br>
                <div class="form-group">
                    <label for="confirmpassword">confirmpassword</label>
                    <input type="password" #_confirmpassword="ngModel" class="form-control" name="confirmpassword"
                        ngModel id="confirmpassword" required>

                    <p style="color:red;" *ngIf="_confirmpassword.invalid  && _confirmpassword.touched"> رجاء ادخال
                        الباسورد*
                    </p>
                    <p style="color:red;"
                        *ngIf="_confirmpassword.value  !== _password.value && _confirmpassword.touched">
                        الباسورد غير متطابق*
                    </p>
                </div>
                <br>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" #_address="ngModel" class="form-control" name="address" ngModel id="address"
                        required>
                    <p style="color:red;" *ngIf="_address.invalid  && _address.touched"> رجاء ادخال
                        العنوان*
                    </p>

                </div>
                <br>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary"
                    [disabled]="f.invalid || _confirmpassword.value !== _password.value ">send</button>
            </div>
        </div>
    </div>
</form>